# Data Exploration
- Load Data
- Data Information
- Classifying catagorical and Numerican Datasets
- Univariate Analysis
    - Distribution of histograms for all features
- Correlations

# Load Data

In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import plotly.express as px
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
import plotly.graph_objects as go
import warnings
warnings.filterwarnings("ignore")

In [2]:
# importing script modules from ../scripts
# Adding scripts path
import sys, os
sys.path.insert(0, '../scripts/')
from data_preProcessing import data_preProcessing_script
from data_manipulator import DataCleaner
from data_exploration import exploration

In [3]:
df = pd.read_csv("../data/processed_incl_missing.csv")
df.head()

,mkt_id,output_date,output_own_price,output_own_cost,output_comp_price,output_own_profits,output_X,output_own_share,output_own_sales
0,44,01jan2019,7.05,5.90,7.11,15.06500,42.80,0.515267,13.10
1,44,02jan2019,7.05,6.05,7.11,24.31000,36.14,0.557082,24.31
2,44,03jan2019,7.05,5.98,7.28,30.78391,34.34,0.579922,28.77
3,44,04jan2019,7.05,5.98,7.28,20.16950,36.32,0.542767,18.85
4,44,05jan2019,6.79,6.07,6.68,1.23120,44.06,0.494757,1.71

# Data Information

In [4]:
preprocess = data_preProcessing_script(df)
preprocess.show_data_information()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19710 entries, 0 to 19709
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mkt_id              19710 non-null  int64
 1   output_date         19710 non-null  object
 2   output_own_price    19710 non-null  float64
 3   output_own_cost     19710 non-null  float64
 4   output_comp_price   19710 non-null  float64
 5   output_own_profits  19710 non-null  float64
 6   output_X            19710 non-null  float64
 7   output_own_share    19710 non-null  float64
 8   output_own_sales    19710 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 1.4+ MB

In [5]:
print('unique column values')
df.apply(lambda x: len(x.unique())).sort_values(ascending=False).head(33)

unique column values

output_own_share      19373
output_own_profits    14351
output_own_sales       2766
output_X                381
output_date             365
output_comp_price        95
output_own_price         94
mkt_id                   54
output_own_cost          25
dtype: int64

# Classifying catagorical and Numerican Datasets

In [6]:
# getting dataframe columns list
cols = df.columns.tolist()

In [7]:
# numerical values
num_cols = df._get_numeric_data().columns
num_cols

Index(['mkt_id', 'output_own_price', 'output_own_cost', 'output_comp_price',
       'output_own_profits', 'output_X', 'output_own_share',
       'output_own_sales'],
      dtype='object')

In [8]:
# catagorical values
list(set(cols) - set(num_cols))

['output_date']